<h1><%= t("title.followers") %></h1>

<table>
  <% @followers.each do |users| %>
    <tr>
      <td>
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(resize_to_limit: [30, 30]) %>
        <% end %>
      </td>
      <td><%= link_to user.nickname, user_path(user) %></td>
      <td><%= user.profile %></td>
    </tr>
  <% end %>
</table>

<%= link_to t("button.back"), user_path %>