<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イチ推し映画</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <main class="bg-home d-flex align-items-center w-100 h-100">
      <div class="">
        <p><%= @email %>さんのページ</p>
          
        <% @posts.each do |post| %>
          <span><%= post.user.email %></span>
          <p>タイトル</p>
          <span><%= post.title %></span>
          <p>評価</p>
          <span><%= post.star %></span>
          <p>レビュー</p>
          <span><%= post.review %></span><br>
          <span><%= link_to "編集", edit_post_path(post) %></span>
          <span><%= link_to "削除", post_path(post), method: :delete %></span><br>
        <% end %>
      </div>
    </main>
  </body>
</html>