<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イチ推し映画</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <div class="">
      <p><%= @email %>さんのページ</p>
        
      <% @posts.each do |post| %>
        <p>タイトル</p>
        <span><%= post.title %></span>
        <p>評価</p>
        <span><%= post.star %></span>
        <p>レビュー</p>
        <span><%= post.review %></span>
      <% end %>
    </div>
  </body>
</html>