
<!DOCTYPE html>
<html>
  <body>
    <main class="bg-home">
        <h4>投稿編集</h4>
        <span>現在ログイン中のユーザー：<%= current_user.nickname %></span>
        <%= form_for(@post, url: post_path(@post)) do |f| %>
            <div>
                <%= f.label :タイトル %><br>
                <%= f.text_field :title, :size=>"80", autofocus: true, :placeholder =>"#{@post.title}" %>
            </div>
            <div class="form-group row" id="star">
                <%= f.label :star,'評価 ', class:'col-md-1 col-form-label' %><br>
                <%= f.hidden_field :star, :placeholder =>"#{@post.star}" %>
                </div>
                        
                <!-- 評価javascript -->
                <script>
                $('#star').raty({
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    scoreName: 'post[star]',
                });
                </script>  
            <div>
                <%= f.label :レビュー %><br>
                <%= f.text_area :review, :size=>"90x10", :placeholder =>"#{@post.review}" %>
            </div>
            <div><%= f.submit "更新する" %></div>
        <% end %>
        </main>
    </body>
</html>
