
<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <%= link_to 'イチ推し映画', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div>
      <ul class="navbar-nav">
<!--// もしユーザーがログインしているならば下記を表示-->
      <%  if user_signed_in?  %>
        <li class="nav-item">
          <%= link_to "アカウント", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to root_path ,class: "btn btn-light text-white", method: :get do %>
            <i class="fa fa-home fa-2x nav-link"></i>
          <% end %>
          <%= link_to "ホーム", root_path, class: "nav-link ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to root_path ,class: "btn btn-light text-white", method: :get do %>
            <i class="fa fa-trophy fa-2x nav-link ml-3"></i>
          <% end %>
          <%= link_to "ランキング", destroy_user_session_path, method: :delete, class: "nav-link ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to root_path ,class: "btn btn-light text-white", method: :get do %>
            <i class="fa fa-comments fa-2x nav-link ml-4"></i>
          <% end %>
          <%= link_to "みんなのレビュー", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to root_path ,class: "btn btn-light text-white", method: :get do %>
            <i class="fa fa-upload fa-2x nav-link"></i>
          <% end %>
          <label class="open nav-link ml-3" for="pop-up">投稿</label>
          <input type="checkbox" id="pop-up">
          <div class="overlay">
	          <div class="window">
	          	<h5>イチ推し映画投稿</h5>
	          	<%= form_for (@post) do |f| %>
  	          	<%= f.label :タイトル %><br>
  	          	<%= f.text_field :title, :size=>"80", autofocus: true %>
  		          <div class="review">
                    <!-- 評価 -->
                  <div class="form-group row" id="star">
                    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %><br>
                    <%= f.hidden_field :star, id: :review_star %>
                  </div>
                
                  <!-- 評価javascript -->
                  <script>
                  $('#star').raty({
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    scoreName: 'post[star]',
                  });
                  </script>  
                  <%= f.label :レビュー %><br>
                  <%= f.text_area :review, :size=>"90x10" %>
                </div>
                <label class="close" for="pop-up">キャンセル</label>
  		          <%= f.submit '投稿する', class:"btn btn-success" %>
              <% end %>
	          </div>
          </div>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav mr-auto">
<!--//ログインしていないのなら下記を表示-->
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>