
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イチ推し映画</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <main class="bg-home">
      <%  if user_signed_in?  %>
      <!--投稿表示-->
      <% @posts.each do |post| %><br>
        <%= link_to(post.user.email, "/users/#{post.user.id}") %>
          <div class="border-end border-bottom border-primary" >
            <p>タイトル</p>
            <span><%= post.title %></span>
            <p>評価</p>
            <span><%= post.star %></span>
            <p>レビュー</p>
            <span><%= post.review %></span><br>
          </div>
        <% end %>
      </div>
      <%= yield %>
      <% else %>
      <% end %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>