
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イチ推し映画</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <main class="bg-home d-flex align-items-center w-100 h-100">
      <%  if user_signed_in?  %>
      <!--投稿表示-->
      <% @posts.each do |post| %>
        <p>タイトル</p><br><br>
        <span><%= post.title %></span><br><br>
        <p>評価</p><br><br>
        <span><%= post.star %></span><br><br>
        <p>レビュー</p><br><br>
        <span><%= post.review %></span><br><br>
      <% end %>
      <%= yield %>
      <% else %>
      <% end %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>